{%  extends "::base.html.twig" %}

{% block title 'Détails d\'un tweeet' %}

{% block header %}
    <h1>Détails d'un tweet</h1>
{% endblock %}

{% block content %}
        <div class="panel panel-default">
            <div class="panel-body">
                <b>{{ tweet.message }}</b><br>
                {{ tweet.createdAt|date('Y-m-d') }}
            </div>
        </div>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <a href="{{ path('app_twig_test') }}">Lien vers la page Twig Test</a>
    <a href="{{ path('app_tweet_list') }}">Lien vers la page d'accueil</a>
{% endblock %}